bin/
obj/

artifacts/
downloads/
_publish_out/

*.user
*.suo
*.tmp
*.bak
*.bak_*
*.cache
*.log
*.pdb

WinApp/model-settings.json
WinApp/membership-config.json
WinApp/update-config.json
WinApp/member-credential.dat
WinApp/member-session.dat
WinApp/machine-license.dat
WinApp/logs/
WinApp/outputs/
WinApp/XMwenjian/
WinApp/jiaose/
WinApp/fenjing/

ClientInstaller/bin/
ClientInstaller/obj/
ClientConfigurator/bin/
ClientConfigurator/obj/
Updater/bin/
Updater/obj/
WinApp/bin/
WinApp/obj/

admin-config.json
